.pessoas {
    display: flex;
    justify-content: space-around; /* coloca os itens ao redor do div pai inline*/
    padding-top: 3rem;
}

@media screen and (min-width: 0){

    .pessoas{
        flex-direction: column;
    }
    
}


@media screen and (min-width: 768px){

    .pessoas {
        flex-direction: row;
    }
}